@charset "UTF-8";

/*estilo para telas*/

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body{
    background-color: lightgray;
}

header{
    background-color: rgb(110, 145, 191);
    padding: 20px;
}

header > h1{
    text-align: center;
}



menu ul{
    list-style-type: none;
    background-color: rgb(62, 104, 140);
}

menu li{
    background-color: rgb(56, 193, 195);
    color: white;
    display: inline-block;
    padding: 10px;
    margin: auto;
}

article{
    max-width: 600px;
    display: block;
    margin: auto;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.48);
}

article h2{
    text-align: center;
    font-size: 27px;
    margin: 10px 0px;
    
}